/* 加载页 */
.page-load {
  position: absolute;
  z-index: 99;
  background: #ffffff;
  color: #602f00;
  font-size: .3rem;
  width: 100%;
  height: 100%;
}

.page-load p{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  top: 50%;
  margin-top: -.5rem;
}

.page-tip {
  position: absolute;
  z-index: 999;
  background: #ffffff;
  color: #602f00;
  font-size: .3rem;
  width: 100%;
  height: 100%;
  display: none;
}

.page-tip p{
  text-align: center;
  position: absolute;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  top: 50%;
  margin-top: -.5rem;
}